[DEFAULT]
dhcpbridge_flagfile=/etc/nova/nova.conf
dhcpbridge=/usr/bin/nova-dhcpbridge
logdir=/var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova
force_dhcp_release=True
libvirt_use_virtio_for_bridges=True
verbose=True
ec2_private_dns_show_ip=True
api_paste_config=/etc/nova/api-paste.ini
enabled_apis=ec2,osapi_compute,metadata

rpc_backend = rabbit
rabbit_host = controller
rabbit_password = {{ RABBIT_PASS }}

auth_strategy = keystone

my_ip = {{ ansible_eth0.ipv4.address }}

vncserver_listen = {{ ansible_eth0.ipv4.address }}
vncserver_proxyclient_address = {{ ansible_eth0.ipv4.address }}

verbose = True

network_api_class = nova.network.neutronv2.api.API
security_group_api = neutron
linuxnet_interface_driver = nova.network.linux_net.LinuxOVSInterfaceDriver
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[database]
connection = mysql://nova:{{ NOVA_DBPASS }}@controller/nova

[keystone_authtoken]
auth_uri = http://{{ ansible_eth0.ipv4.address }}:5000/v2.0
identity_uri = http://{{ ansible_eth0.ipv4.address }}:35357
admin_tenant_name = service
admin_user = nova
admin_password = {{ NOVA_PASS }}

[glance]
host = controller

[neutron]
url = http://{{ ansible_eth0.ipv4.address }}:9696
auth_strategy = keystone
admin_auth_url = http://{{ ansible_eth0.ipv4.address }}:35357/v2.0
admin_tenant_name = service
admin_username = neutron
admin_password = {{ NEUTRON_PASS }}
service_metadata_proxy = True
metadata_proxy_shared_secret = {{ METADATA_SECRET }}